@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadein {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes spinner_1 {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes spinner_2 {
	0% {
		stroke-dasharray: 0 150;
		stroke-dashoffset: 0;
	}
	47.5% {
		stroke-dasharray: 42 150;
		stroke-dashoffset: -16;
	}
	95%,
	100% {
		stroke-dasharray: 42 150;
		stroke-dashoffset: -59;
	}
}

.animate-fadein {
	animation: fadein 0.5s ease-in-out forwards;
}

.spinner {
	transform-origin: center;
	animation: spinner_1 2s linear infinite;
}

.spinner circle {
	stroke-linecap: round;
	animation: spinner_2 1.5s ease-in-out infinite;
}

/* Section for Filepond components  */
[data-filepond-item-state='processing-warn'] .filepond--item-panel {
	background-color: #d97a37;
}

[data-filepond-item-state*='processing-warn'] .filepond--panel,
[data-filepond-item-state*='processing-warn'] .filepond--file-wrapper {
	-webkit-animation: shake 0.65s linear both;
	animation: shake 0.65s linear both;
}

html.dark .filepond--panel-root {
	background-color: #525252;
}

html.dark .filepond--drop-label {
	color: #c6c6c6;
}

.p-tab-active {
	color: #161616 !important;
	background: #f4f4f4 !important;
	border-color: #161616 !important;
	border-radius: 0.375rem 0.375rem 0 0 !important;
}

