@tailwind base;
@tailwind components;
@tailwind utilities;

/* Section for Filepond components  */
[data-filepond-item-state='processing-warn'] .filepond--item-panel {
	background-color: #d97a37;
}

[data-filepond-item-state*='processing-warn'] .filepond--panel,
[data-filepond-item-state*='processing-warn'] .filepond--file-wrapper {
	-webkit-animation: shake 0.65s linear both;
	animation: shake 0.65s linear both;
}

html.app-dark .filepond--panel-root {
    background-color: #737373;
}

html.app-dark .filepond--drop-label {
	color: #f4f5f4;
}